
  <div class="section section_theme-white section_separated">
<div class="container">
<article class="resource row">
<div class="resource__content column column_lg-6">
<ul class="resource__stats stats">
<!-- <li class="stats__item" title="Collection">
<i class="icon icon_tag"></i>
<a href="https://accepting.io/collections/technology" class="stats__tag">Technology</a>
</li> -->
<li class="stats__item" title="Published">
<i class="icon icon_clock"></i> Nov, 25</li>
</ul>

<div class="resource__info">
<h2 class="resource__title heading heading_xl">
{{model.title}}
</h2>
<p class="resource__description">{{model.description}}</p>
</div>

<div class="resource__actions">
<a href="{{model.url}}" class="button button_secondary" target="_blank">Visit website</a>

<nav class="nav-socials">
<h4 class="nav-socials__title">Share</h4>
<ul>
<li class="nav-socials__item">
  <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Faccepting.io%2Fplaces%2Fgandinet&text=gandi.net%3A+Domain+registration+and+web+hosting+via+%40acceptingio" title="Twitter">
    <i class="icon icon_twitter"></i>
    <span class="sr-only">Twitter</span>
  </a>
</li>
<li class="nav-socials__item">
  <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Faccepting.io%2Fplaces%2Fgandinet&title=gandi.net%3A+Domain+registration+and+web+hosting" title="Facebook">
    <i class="icon icon_facebook"></i>
    <span class="sr-only">Facebook</span>
  </a>
</li>

</ul>
</nav>
<!-- /.nav-socials -->
</div>
</div>

<aside class="resource__image column column_lg-6">
<a href="{{model.url}}" target="_blank">
<img src="{{rootURL}}{{model.image}}" alt="{{model.title}}" style="width:400px;">
</a>
</aside>
</article>
<!-- /.resource -->
</div>
</div>
